body {
    display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}


#container{
    display: flex;
    flex-direction: column;
    background-color: black;
    align-items: center;
    height: 200px;
    width: 100px;
}
  
  .luz {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 10px;
  }
  
  .roja {
    background-color: red;
  }
  
  .naranja {
    background-color: orange;
  }
  
  .verde {
    background-color: green;
  }

.roja.seleccionada,
.naranja.seleccionada,
.verde.seleccionada {
    filter: brightness(2);
    box-shadow: 0 0 5px 10px #fff;
}















/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/

